#footer {
	background-color: #333;
	font-size: 10px;
	clear: both;
	height: 50px;
}
#footer p  {
	color: #FFF;
}

#footer .add {
	float: left;
	margin-top: 17px;
	margin-left: 5px;
}
#footer .copy {
	float:right;
	margin-top: 17px;
	margin-right: 5px;
}
