@charset "UTF-8";

/* ヘッダー
------------------------------------------------------------*/
header {
    background-color: $key;
    padding: 10px 2%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .inner {
        h1 {
            height: 30px;
            a {
                display: inline-block;
                img {
                    width: auto;
                    height: 30px;
                }
            }
        }
        //ヘッダーメニュー（SPは非表示）
        .menu {
            display: none;
        }
        .header-btn {
            position: fixed;
            line-height: 20px;
            top: 15px;
            &.en {
                right: 55px;
            }
            &.inquiry {
                right: 115px;
            }
            a {
                background-color: $sub_2;
                line-height: 20px;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;
                font-size: 10px;
                padding: 0 .5em;
                letter-spacing: .5px;
                border-radius: 4px;
                color: $key;
            }
        }
    }
}